In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
from sklearn.model_selection import train_test_split


style.use("fivethirtyeight")

df = pd.read_csv("randomlyGeneratedDataset.txt")

X = df.



df.tail()

,ten_gpa,twelth_gpa,colz_gpa,nimcet_marks,psqt_gpa,me_gpa,co_gpa,pscp_gpa,pscp_lab_gpa,foss_lab_gpa,...,cc_gpa,dpsa_gpa,stt_gpa,seminar_viva_gpa,nps_lab_gpa,stt_lab_gpa,sgpa5,cgpa5,project_gpa,cgpa_final
4995,8.13,8.72,6.54,629.34,6,6,7,7,9,6,...,6,8,7,7,6,5,6.62,6.95,6,6.79
4996,6.01,7.85,7.38,471.95,8,7,5,8,10,8,...,8,7,7,5,8,7,7.00,7.34,7,7.29
4997,7.59,6.42,6.69,584.01,5,8,7,8,8,10,...,6,6,6,7,5,7,6.12,7.24,7,7.20
4998,5.14,6.86,5.34,561.52,6,6,8,5,6,6,...,6,8,6,5,6,5,6.38,6.80,7,6.84
4999,6.67,7.72,7.54,462.70,5,8,6,7,8,8,...,6,6,6,8,8,7,7.00,6.82,6,6.69

In [2]:
print(round(7.4))

7